<div class="about_pics">
  <div class="about_pic"><img class="thumbImg" src="img/wilma.jpg" alt="Wilma"/></div>
  <div class="about_pic"><img class="thumbImg" src="img/johan.jpg" alt="Johan"/></div>
  <div style="clear: both"></div>
</div>
<div class="about_content">
  <h1>About Amber Sky Creations</h1>
  <p class="bodyText">Amber Sky Creations is a husband and wife team from Centurion in South Africa,
    who share a passion for both photography and nature, as well as a love for art. Our aim is to
    combine these shared passions into images that not only celebrate the beauty and majesty of nature,
    but also captures something of the experience of "being there". Working together as a team, we challenge
    each other, learn from each other and are often amazed at how much our photos of the same subject
    at the same time differs. </p>
  <p class="bodyText">Both of us being software developers by trade, we bring the systematic, technical
    approach and attention to detail demanded by our day-to-day jobs to our photography. This solid,
    technical base allows us to give free reign to our creativity, and to turn our experiences into
    enduring images. </p>
  <p class="bodyText" style="font-style:italic; text-align: center; font-weight: bold; color: #EA972E">"You don't see what you see, you
    see what you know. And when you know more, you will see more" - Jean Welz</p>
  <p class="bodyText">We believe that photography is not merely a means of capturing a split-second of
    reality, but a fully fledged art medium. Just as a painter uses different brushes, and different
    techniques of applying paint to canvas to create different effects, so a photographer uses a wide
    range of equipment, as well as different shutterspeeds, apertures etc, to create different effects.
    We are always chasing after that "certain sort of something" that lifts an image above the rest,
    and takes it from mere representation, to interpretation. </p>
  <p class="bodyText">We are continuously striving to get to know more, so that we can see more, and
    create more.</p>
  <p class="bodyText">Certainly, not all photographs are works of art. Sometimes, a photograph is only
    a celebration of a perfect work of art already created for us by our Creator. There are many such
    images on this site - simply showing off the brilliant colours on a tiny bird, the majestic power
    of a rhino, or the beauty of a perfect sunset.</p>
  <p class="bodyText">The aim of this site is to showcase our images, and to share some of our
    experiences as photographers through our blog.</p>
  <p class="bodyText">Since we are both intensely concerned with nature conservation, we also attempt
    to list threatened species according to their IUCN classification. We consider it a priviledge to
    be able to photograph some of the most endangered species on earth, and we hope, by showing them
    as such, to create some awareness of the plight of these species. For more information on these
    catories and classifications, see <a href="http://www.iucnredlist.org/">www.iucnredlist.org</a></p>
  <h1>Copyright notice</h1>
  <p class="bodyText">Please note that the copyright on all the images on this site belongs to the
    photographers, and that copying or reproduction of these images in any way without written consent
    from the photographers, is strictly prohibited.</p>
  <!--					<h1>Fine art prints</h1>-->
  <!--					<p class="bodyText">Many of the images on this site are for sale as high-quality prints. If you are-->
  <!--						interested in purchasing prints, feel free to contact us using the form below.</p>-->

  <!--			  		<h1>Contact form</h1>-->
  <!--					<p class="bodyText">-->
<!--//							if (isset($_REQUEST['email']))-->
<!--//							//if "email" is filled out, send email-->
<!--//							{-->
<!--//								require_once('recaptchalib.php');-->
<!--//								$privatekey = "6LcEGcQSAAAAANl_LAIh1RzNe8nSgg6iGK8E7QbH";-->
<!--//								$resp = recaptcha_check_answer ($privatekey,-->
<!--//-->
<!--//								$_SERVER["REMOTE_ADDR"],-->
<!--//								$_POST["recaptcha_challenge_field"],-->
<!--//								$_POST["recaptcha_response_field"]);-->
<!--//-->
<!--//								if (!$resp->is_valid) {-->
<!--  //									// What happens when the CAPTCHA was entered incorrectly-->
<!--  //									die ("The reCAPTCHA wasn't entered correctly. Go back and try it again." .-->
<!--  //									"(reCAPTCHA said: " . $resp->error . ")");-->
<!--  //								} else {-->
<!--  //									//send email-->
<!--  //									$email = $_REQUEST['email'] ;-->
<!--  //									$subject = $_REQUEST['subject'] ;-->
<!--  //									$message = $_REQUEST['message'] ;-->
<!--  //									mail("wilmavn@gmail.com", "Subject: $subject",-->
<!--  //									$message, "From: $email" );-->
<!--  //									echo "Thank you for using our mail form";-->
<!--  //								}-->
<!--  //							}-->
<!--  //							else-->
<!--  //								//if "email" is not filled out, display the form-->
<!--  //							{-->
<!--  //								echo "<form method='post' action='about.php'  class='bodyText'>";-->
<!--  //-->
<!--  //								require_once('recaptchalib.php');-->
<!--  //								$publickey = '6LcEGcQSAAAAANwf4wGUSfugZTOICLYl4RJdLEjI'; // you got this from the signup page-->
<!--  //-->
<!--  //								echo "<table><tr>-->
<!--  //								<td>Email: </td><td><input name='email' type='text' size='20'/></td></tr>-->
<!--  //								<tr><td>Subject: </td><td><input name='subject' type='text' size='20'/></td></tr>-->
<!--  //								<tr><td>Message:</td><td>-->
<!--  //								<textarea name='message' rows='10' cols='40'></textarea><br />";-->
<!--  //								echo recaptcha_get_html($publickey);-->
<!--  //								echo "<input type='submit' />-->
<!--  //								</td></tr></table>-->
<!--  //								</form>";-->
<!--  //							}-->
<!--  //						?>-->
  <!--					</p>-->
  <!---->
  <!--					<br/>-->
</div>
<div style="clear: both"></div>
